@font-face {
	font-family: 'picnic';
	src: url('./PicNic-Regular.otf');
}
@font-face {
	font-family: 'baskervvol';
	src: url('./BBBBaskervvol-Base.otf');
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
  font-family: 'baskervvol', serif;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.2;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
/* h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  font-weight: 300;
} */
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

:root {
    --bg-color: #ececec;
    --main: #666666;
    --margin-size: 80px;
}

html {
    background-color: var(--bg-color);
    color: var(--main);
}

a {
    text-decoration: none;
    color: var(--main);
}

/* 
p, .corps {
	font-size: 16px;

	@media (max-width: 1200px) {
		font-size: 14px;
	}

	@media (max-width: 800px) {
		font-size: 12px;
	}
}

h1, h2, .titre {
	font-family: 'Saintecolombe', serif;
	font-weight: 500;
	font-size: 40px;
	text-transform: uppercase;
	letter-spacing: -1;
	line-height: 1;

	@media (max-width: 1200px) {
		font-size: 30px;
	}

	@media (max-width: 800px) {
		font-size: 20px;
	}
}

main.page-main {
	padding: 110px 20px;

	& div.bloc_container{
		display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;

        @media (max-width: 1200px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 800px) {
            grid-template-columns: repeat(1, 1fr);
        }

		& > div.bloc {
			flex: 1;
			display: block;
			max-height: calc(100vh - 90px);
			overflow: scroll;
			margin-bottom: 40px;

			& > div.top-part {
				top: 0;
				position: sticky;
				padding-bottom: 10px;
				background-color: white;

				& > img {
					margin-bottom: 10px;
				}
			}
		}
	}

	& div.rightside_container{
		width: 100%;
		padding-left: 33.3%;

		@media (max-width: 1200px)
		{
			padding-left: 0;
		}
	}
}

.small-cartouche{
	padding: 2px 10px 2px;
	border: 1px solid black;
	border-radius: 50px;
	font-size: 11px;
	transform: translateY(-2px);
	display: inline-block;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */